.Seccion--Encuesta__stilo{
    background: rgb(206, 211, 218);
    font-family: $font-principal;
    text-transform: initial;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    color: $color-azulOscuro;
}