.h1--servicios{
    font-family: $font-principal;
    font-size: 25px;
    color:$color-azulOscuro;
    text-transform: uppercase; 
    margin-top: 1em;  
}
.h2--servicios{
    font-family:$font-text;
    color:$color-negro;
    margin-top: 12px;
    margin-bottom: 1em;
}
